//! **************************************************************************
// Written by: Map P.20131013 on Fri Dec 16 23:13:47 2022
//! **************************************************************************

SCHEMATIC START;
COMP "P1_SCORE<0>" LOCATE = SITE "P132" LEVEL 1;
COMP "P1_SCORE<1>" LOCATE = SITE "P127" LEVEL 1;
COMP "P1_SCORE<2>" LOCATE = SITE "P124" LEVEL 1;
COMP "P2_SCORE<0>" LOCATE = SITE "P133" LEVEL 1;
COMP "P2_SCORE<1>" LOCATE = SITE "P131" LEVEL 1;
COMP "P2_SCORE<2>" LOCATE = SITE "P126" LEVEL 1;
COMP "CLOCK" LOCATE = SITE "P123" LEVEL 1;
COMP "P1_UP" LOCATE = SITE "P9" LEVEL 1;
COMP "P2_UP" LOCATE = SITE "P16" LEVEL 1;
COMP "VSYNC" LOCATE = SITE "P12" LEVEL 1;
COMP "GREEN" LOCATE = SITE "P22" LEVEL 1;
COMP "BLUE" LOCATE = SITE "P17" LEVEL 1;
COMP "P1_READY" LOCATE = SITE "P11" LEVEL 1;
COMP "P2_READY" LOCATE = SITE "P21" LEVEL 1;
COMP "HSYNC" LOCATE = SITE "P15" LEVEL 1;
COMP "P1_DOWN" LOCATE = SITE "P14" LEVEL 1;
COMP "P2_DOWN" LOCATE = SITE "P23" LEVEL 1;
COMP "RED" LOCATE = SITE "P24" LEVEL 1;
SCHEMATIC END;

