NET "CLOCK" LOC = P123;
NET "RED" LOC = P24;
NET "GREEN" LOC = P22;
NET "BLUE" LOC = P17;
NET "HSYNC" LOC = P15;
NET "VSYNC" LOC = P12;

NET "P1_UP" LOC = P9;
NET "P1_READY" LOC = P11;
NET "P1_DOWN" LOC = P14;
NET "P2_UP" LOC = P16;
NET "P2_READY" LOC = P21;
NET "P2_DOWN" LOC = P23;

NET "P1_SCORE[2]" LOC = P124;
NET "P1_SCORE[1]" LOC = P127;
NET "P1_SCORE[0]" LOC = P132;

NET "P2_SCORE[2]" LOC = P126;
NET "P2_SCORE[1]" LOC = P131;
NET "P2_SCORE[0]" LOC = P133;